<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐播放器</title>
    <link rel="stylesheet" href="css/music.css">
</head>
<body>
    <div id="music-wrap">
        <div class="music-wrap">
            <div class="music-content">
                <header>
                    <span class="logo">悦听</span>
                    <div class="search-box">
                        <input type="text" v-model="keywords" @keyup.enter="searchMusic">
                        <span class="icon"></span>
                    </div>
                </header>
                <section>
                    <div class="main">
                        <div class="music-list">
                            <ul>
                                <li v-for="item in musicList">
                                    <span class="play-icon" @click="playMusic(item.id)"></span>
                                    <b class="name">{{item.name}}</b>
                                    <span class="mv-icon" v-if="item.mvid!=0" @click="getMV(item.mvid)"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="music-card" :class="{playing:isPlaying}">                            
                            <!-- <img src="123" class="pic-needle" alt="1"> -->
                            <!-- 黑胶碟片 -->
                            <img src="images/nature-9.jpg" class="pic-bg">
                            <!-- 歌曲封面 -->
                            <img :src="musicCover" class="pic-bar">
                        </div>
                        <div class="hot-comment">
                            <h3>热门留言</h3>
                            <div class="comment-list">
                                <div class="comment-item" v-for="item in hotComment">
                                    <div class="user-avater">
                                        <img :src="item.user.avatarUrl" alt="">
                                    </div>
                                    <div class="comment-content">
                                        <p class="user-name">{{item.user.nickname}}</p>
                                        <p class="user-comment">{{item.content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="video-content">
                            <video v-show="isShow" :src="mvUrl" controls></video>
                            <div class="mask" v-show="isShow" @click="hideMask"></div>
                        </div>                    
                    </div>
                </section>
                <footer>
                    <audio :src="musicUrl" controls autoplay  @play="playFun" @pause="pauseFun"></audio>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/music.js"></script>
</body>
</html>